$main-background: rgb(3, 3, 3);
$container-background: rgb(26, 26, 26);
$font-color: rgb(216, 218, 220);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $main-background;
  color: $font-color;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: $container-background;
}

.feed-container {
  display: flex;
  justify-content: center;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70rem;
  border: 2px solid black;
}

.post {
  background-color: $container-background;
  width: 90%;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}
