$maincolor: rgb(20, 20, 20);
$contrastcolor: rgb(240, 235, 214);
$border-color: rgb(228, 221, 204);
$header-font: 'Nabla', cursive;
$main-font: 'Poppins', sans-serif;
$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px; 

@mixin header {
  font-family: $header-font;
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin body {
  color: $contrastcolor;
}

@mixin flex-container-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
}

.nav {
  @include header;
  @include flex-container-centered;

  a {
    @include header;
    text-decoration: none;
    div {
      margin: 1rem;
      font-size: x-large;
    }
  }
}

html {
  background-color: rgb(36, 36, 36);
}

body {
  @include body;
  box-sizing: border-box;
  margin: 0;
  font-family: $main-font;
}

.title {
  font-family: $header-font;
  font-size: 40px;
  grid-area: title;
}

a {
  box-shadow: inset 0 0 0 0 #1f1f1f;
  color: $contrastcolor;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
a:hover {
  box-shadow: inset 150px 0 0 0 #181818;
  color: rgb(155, 107, 52);
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: 'sidebar main main main';
}

.sidebar {
  grid-area: sidebar;
}
.main {
  grid-area: main;
}

.boards {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% auto;
  grid-template-areas: 
  'title title title title'
  'general movies vg sports';
}

.general {
  grid-area: general;
}

.movies {
  grid-area: movies;
}

.vg {
  grid-area: vg;
}

.sports {
  grid-area: sports;
}



.create-b {
  font-family: poppins;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(211, 104, 37);
  background-color: rgb(255,209,98);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.create-b:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.sb-container {
  margin-top: 10%;
  display: inline-block;
  width: 50%;
}

.feed-container {
  display: flex;
  justify-content: center;
  margin: 5%;
}

ul {
  align-content: center;
}

li {
  display: inline-block;
  list-style-type: none;
  float: inline-start;
}

.count {
  width: 100px;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70rem;
}

.post {
  width: 90%;
  border: 2px solid $border-color;
  border-radius: 10px;
  box-shadow: rgba(189, 66, 9, 0.4) 5px 5px, rgba(194, 121, 26, 0.3) 10px 10px, rgba(235, 180, 78, 0.2) 15px 15px, rgba(107, 68, 16, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  margin: 1rem;
  justify-content: center;
  align-content: center;
}

.auth-options {
  display: flex;
  align-items: center;
  div {
    margin-right: 1.5rem;
    cursor: pointer;
  }
  &:hover {
    text-decoration: none;
  }
}

.show-post {
  width: 70%;
  background-color: #222222;
  border: 2px solid $border-color;
  padding: 1.5rem;
}

.comment {
  padding: 5px;
}

.created-by {
  font-style: italic;
}

input[type=text] {
  padding:10px;
  margin:10px 10px; // add top and bottom margin
  box-sizing: border-box;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  border: 3px solid rgb(255,209,98);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

textarea {
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
  align-self: center;
  border: 3px solid rgb(255,209,98);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

textarea:focus {
  border: 3px solid rgb(211, 104, 37);
}

input[type=text]:focus {
  border: 3px solid rgb(211, 104, 37);
}

@media (min-width: 768px) {
  .nav {
    justify-content: space-between;
  }
}

.new-post {
  align-items: center;
  justify-content: center;
}

.category {
  position: relative;
  align-self: center;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.category select {
  background-color: rgb(255,209,98);
  color: rgb(211, 104, 37);
  padding: 12px;
  width: 150px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  border-radius: 15px;
}

.category:before {
  content: "\f13a";
  font-family: Poppins;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.category:hover :before {
  color: rgba(167, 105, 105, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.category select option {
  padding: 30px;
}

